<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title> 快速构建移动H5页面</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
<!-- Custom styles for this template -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="/css/page.css">
